# Copie en .env et adapte. Aucune valeur secrète requise par défaut.
TZ=Europe/Paris
SB_UID=1000
SB_GID=1000
# Dossiers scannés pour l'import rsync/rclone (séparés par :)
SB_IMPORT_PATHS=/import/scripts:/import/crontab
