COMPOSE_PROJECT_NAME=syncbridge
SYNCBRIDGE_TAG=latest
SYNCBRIDGE_HOST_PORT=8787
SYNCBRIDGE_CONFIG_DIR=/opt/syncbridge
SYNCBRIDGE_FILE_UID=1000
SYNCBRIDGE_FILE_GID=1000
TZ=UTC
SYNCBRIDGE_IMPORT_PATHS=
